.admin-app-header {
  border-bottom: 5px solid #1aa094;
  height: 65px;
  color: #999;
  z-index: 10;
  background: white;
}

.admin-app-header .title {
  width: 200px;
  height: 70px;
}

.admin-app-header h1 {
  text-align: center;
  line-height: 70px;
  color: black;
  font-size: 22px;
  font-weight: 400;
}

.admin-app-header .account {
  position: absolute;
  top: 0;
  right: 20px;
  width: 100px;
  z-index: 100;
} 

.admin-app-header .account .logo {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.admin-app-header .account span {
  line-height: 70px;
}

.admin-app-header .account .arrow-down {
  position: relative;
  top: 15px;
  left: 5px;
  border-style: solid;
  border-color: #c2c2c2 transparent transparent;
  border-width: 6px;
}

.admin-app-header .account-menu {
  height: 43px;
  border: 1px solid #d2d2d2;
  border-top: 5px solid black;
  position: relative;
  top: -5px;
  display: none;
}

.admin-app-header .account-menu:hover {
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
}

.admin-app-header .account-menu span {
  line-height: 40px;
}

.admin-app-header .account-menu i {
  margin-left: 10px;
}
